section.slide#formAttributes2
	div
		h2 Атрибуты формы
		div
			strong name&nbsp;
			| - имя формы
		div
			strong accept&nbsp;
			| - список MIME-типов для загрузки файлов
		div
			strong novalidate&nbsp;
			| - отменяет встроенную проверку данных