section.slide#form
	div
		h2 HTML Форма
		p
			| Позволяет пользователю вводить информацию для последующей ее обработки. Задается с помощью элемента&nbsp;
			code &lt;form&gt;
		pre
			code &lt;form action="http://example.com/login" method="post"&gt;
			code	&lt;input name="login" type="text"/&gt;
			code	&lt;input name="password" type="password"/&gt;
			code	&lt;input value="Login" type="submit"/&gt;
			code &lt;/form&gt;