section.slide#formElements
	div
		h2 Элементы формы
		p Cлужат для взаимодействия пользователя с формой
		p
			a(href="#input")
				code &lt;input&gt;
			| &nbsp
			a(href="#select")
				code &lt;select&gt;
			| &nbsp
			a(href="#textarea")
				code &lt;textarea&gt;
