section.slide#input
	div
		h2
			| Элемент&nbsp;
			code &lt;input&gt;
		p Самый разнасторонний элемент. Позволяет создавать разные элементы формы
		p
			| Основные аттрибуты:&nbsp;
			strong name
			| ,&nbsp;
			strong value
			| ,&nbsp;
			strong type
			| ,&nbsp;
			strong readonly
			| ,&nbsp;
			strong disabled
			| ,&nbsp;
			strong placeholder