section.slide#inputImage
	div
		h2
			code &lt;input&gt;
			| &nbsp;image
		p Кнопка с изображением

		pre
			code &lt;input type="image" src="path/to/image"/&gt;

		.example
			input(type='image', src='images/html5.png' height='100')
