section.slide#inputText
	div
		h2
			code &lt;input&gt;
			| &nbsp;text
		p Текстовое поле

		pre
			code &lt;input type="text" name="name" value="Peter"/&gt;
			code &lt;input type="text" name="surname" value="Jackson"/&gt;

		.example
			input(type='text', name='name', placeholder='Name', value='Peter')
			input(type='text', name='surname', placeholder='Surname', value='Jackson')
