section.slide#inputPassword
	div
		h2
			code &lt;input&gt;
			| &nbsp;password
		p Поле с паролем

		pre
			code &lt;input type="password"/&gt;

		.example
			input(type='password', placeholder='Password')
