section.slide#regex
	div
		h2 Регулярные выражения

		p Это шаблон (строка), которая состоит из символов и метасимволов (спецсимволов) и который применяется для манипуляции над строками: поиск, замена, валидация

		pre
			code var reg = /ab+c/;

		div
			a(href='https://regex101.com/#javascript', target='_blank') https://regex101.com