section.slide#regexSymbols5
	div
		h2 Спецсимволы

		div
			strong \d
			| &nbsp; Эквивалент [0-9]

		div
			strong \D
			| &nbsp; Эквивалент [^0-9]

		div
			strong \S
			| &nbsp; Найдет любой символ, кроме пробельного

		div
			strong \w
			| &nbsp; Найдет любой словесный (латинский алфавит) символ, включая буквы, цифры и знак подчеркивания

		div
			strong \W
			| &nbsp; Найдет любой не-(лат.)словесный символ

		div
			a(href='http://www.w3schools.com/jsref/jsref_obj_regexp.asp', target='_blank') Более детально