section.slide#regexSimple
	div
		h2 Простые выражения

		div
			a(href="https://regex101.com/r/jU8hW2/1", target='_blank')
				i "Hello world. Our world".
		pre
			code var reg = /world/g;

		p
			strong Порядок символов имеет значение!