section.slide#regexSymbols
	div
		h2 Спецсимволы

		div
			strong \
			| &nbsp; Обозначает спецсимвол в паре с обычным и наоборот

		div
			code /s/
			| &nbsp; Найдет символ "s" в строке
		div
			code /\s/
			| &nbsp; Найдет пробел, табуляцию, перевод строки