section.slide#regexJsMethods
	div
		h2 JavaScript методы

		ul
			li String.replace(pattern,string)
			li String.match(pattern)
			li String.search(pattern)
			li String.split(pattern)
			li RegExp.test(string)
			li RegExp.exec(string)