section.slide#regexComplex
	div
		h2 Сложные выражения

		p Можно использовать спецсимволы для более сложных выборок

		div
			a(href="https://regex101.com/r/wL7gK7/3", target='_blank')
				i "Your regex is cool!!!".
		pre
			code var reg = /co+l!*/gim;