.container{
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
}
.item{
	width: 200px;
	height: 150px;
	background: tomato;
	color: white;
	display: flex;
	align-items: center;
	flex: none;
	justify-content: center;
	font-size: 40px;
	margin: 10px 0;
}